::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #DDD2;
	border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: #DDD
}

::-webkit-scrollbar-thumb {
  background: #AAA2;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

div.container h2 {
	margin-top: 3vw;
}

div.tab-pane *:nth-child(1) {
	margin-top: 0.5vw;
}

#chat {
	height: calc(60vh - 1vmin);
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}
